@model List<ChooseRestaurant.Models.Results>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Watch results</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <p>Survey results :</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Number of votes</th>
        </tr>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Phone</td>
                <td>@restaurant.NumberOfVotes</td>
            </tr>
        }
    </table>
</body>
</html>