@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Choose a restaurant for the lunch</p>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Create a survey" />
    }
    <ul>
        <li>@Html.ActionLink("Add a restaurant", "CreateRestaurant", "Restaurant")</li>
        <li>@Html.ActionLink("Modify the restaurants", "Index", "Restaurant")</li>
    </ul>
</body>
</html>